<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import Link from "next/link";
import { ArrowLeft, Pencil } from "lucide-react";
import { Button } from "@/components/ui/button";

import { <%= entityClass %>Details } from "../components/<%= entityFileName %>-details";
import { PageHeader } from "@/components/page-header";
import { PageTitle } from "@/components/page-title";

interface <%= entityClass %>PageProps {
  params: Promise<{
    id: string;
  }>;
}

export const metadata = {
  title: "<%= entityClass %> Details",
};

export default async function <%= entityClass %>Page({ params }: <%= entityClass %>PageProps) {
  const { id: idParam } = await params;
  const id = parseInt(idParam, 10);

  return (
    <div className="space-y-6">
      <div className="flex items-center justify-between">
        <PageHeader>
          <Button variant="ghost" size="sm" asChild>
            <Link href="/<%= routePath %>">
              <ArrowLeft className="h-4 w-4 mr-2" />
              Back to <%= entityClassPluralHumanized %>
            </Link>
          </Button>
        </PageHeader>
        <Button size="sm" asChild className="shrink-0">
          <Link href={`/<%= routePath %>/${id}/edit`}>
            <Pencil className="h-4 w-4 mr-2" />
            Edit
          </Link>
        </Button>
      </div>

      <div className="max-w-4xl">
        <PageTitle><%= entityClassHumanized %> Details</PageTitle>
        
        <div className="mt-6">
          <<%= entityClass %>Details id={id} />
        </div>
      </div>
    </div>
  );
}
